/* You can add global styles to this file, and also import other style files */

.del
  transform: rotate(45deg)
  font-weight: 900
  color: #c9c9c9
  cursor: pointer
  transition: all .15s ease
  &:hover
    color: red