/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"
.del
  transform: rotate(45deg)
  font-weight: 900
  font-size: 1rem
  color: #c9c9c9
  cursor: pointer
  transition: all .15s ease
  &:hover
    color: red
.form
  padding: 20px
  border: 1px solid #f0f0f0
  display: grid
  &-title
    text-transform: capitalize
    letter-spacing: 2px
    text-align: center
    padding-bottom: 10px